/* ------------------------------------ /
  #CSS custom properties
/* ------------------------------------ */

:root {
  --color-bg-white: #ffffff;
  --color-bg-grey-on-white: #f1f1f1;
  --color-bg-element: #e6e6e6;
  --color-bg-shadow: rgb(34 34 34 / 80%);
  --color-text-basic: #222222;
  --color-text-descriptor: #767676;
  --color-icon: #a7a7a7;
  --color-outline: #d8d8d8;
  --color-action-blue: #0656b4;
  --fz-basic: 14px;
  --lh-basic: 22px;
  --fz-descriptor: 12px;
  --lh-descriptor: 22px;
}

/* ------------------------------------ /
  #SCSS-variables
/* ------------------------------------ */
$desktop-width: 1000px;
