@use "../../configs/variables.scss";

.section {
  padding-top: 80px;
  padding-bottom: 100px;

  &--dark {
    background-color: var(--color-light-l);
  }

  @media (max-width: variables.$tablet-width) {
    padding-top: 42px;
    padding-bottom: 42px;
  }
}

.section__title {
  margin: 0;
  color: var(--color-dark-l);
  font-weight: 400;
  font-family: "Georgia", serif;
  font-size: var(--fz-section-title);
  line-height: var(--lh-section-title);
  letter-spacing: 0.06em;

  &--center {
    text-align: center;
  }

  &--light {
    color: var(--color-light-xl);
  }

  @media (max-width: variables.$tablet-width) {
    text-align: center;
  }
}

.section__text {
  margin: 0;
  font-family: "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: var(--fz-section-text);
  line-height: var(--lh-section-text);
}

.section__text + .section__text {
  margin-top: 25px;

  @media (max-width: variables.$tablet-width) {
    margin-top: 22px;
  }
}

.section__strong-text {
  font-size: var(--fz-strong-text);
  line-height: var(--lh-strong-text);
}

.section__main-text {
  margin: 0;
  font-weight: 400;
  font-family: "Georgia", serif;
  font-size: var(--fz-main-text);
  line-height: var(--lh-main-text);
  letter-spacing: 0.06em;
}
