@use "../configs/variables.scss";

.region-menu {
  position: relative;
}

.region-menu__button {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  text-align: left;
}

.region-menu__text {
  display: block;
  overflow: hidden;
  font-size: var(--fz-descriptor);
  line-height: var(--lh-descriptor);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.region-menu__icon {
  color: var(--color-icon);

  &:hover svg {
    fill: var(--color-bg-shadow);
  }
}


// modal

.region-menu__modal {
  position: absolute;
  top: 200%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 384px;
  padding-top: 24px;
  visibility: hidden;
  opacity: 0;


  &.active {
    top: calc(100% + 20px);
    visibility: visible;
    opacity: 1;
    transition: 200ms;
  }
}

.region-menu__input {
  width: 352px;
}


.region-menu__save-button {
  width: 100%;
  padding: 16px;
  border-radius: 0 0 10px 10px;
  color: var(--color-bg-white);
  font-family: "Formular", sans-serif;
  font-size: var(--fz-descriptor);
  line-height: var(--lh-descriptor);
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: var(--color-action-blue);
  transition: 300ms background-color;

  &:disabled {
    border-top: 1px solid var(--color-outline);
    color: var(--color-text-descriptor);
    background-color: var(--color-bg-white);
    cursor: auto;
  }
}

.region-menu__list {
  width: 100%;
  height: 223px;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  overflow: auto;
  list-style: none;
}

.region-menu__loader {
  display: none;
  padding: 10px;

  &.active {
    display: block;
  }
}

.region-menu__item {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.region-menu__item button {
  width: 100%;
  padding: 11px 16px;
  text-align: left;
  transition: 200ms background-color;

  &[data-region-type="city"] {
    display: flex;
    flex-direction: column;
  }

  &:hover,
  &:focus {
    background-color: var(--color-bg-grey-on-white);
  }

  &.hide {
    display: none;
  }

  b {
    color: var(--color-action-blue)
  }
}

.region-menu__subtitle {
  color: var(--color-text-descriptor);
}
